{% extends "Master/Master.twig" %}

{% block title %}Add New Article{% endblock %}


{% block head %}

{% endblock %}


{% block content %}
	<div class="content-header">
		<div class="header-section">
			<h1>
				<i class="gi gi-article"></i>Add New Article<br/>
				<small>Write description here how to add new article</small>
			</h1>
		</div>
	</div>

	<ul class="breadcrumb breadcrumb-top">
		<li><a href="{{ Router.Create("articles") }}">Articles</a></li>
		<li>Add New Article</li>
	</ul>

	<div class="row">
		<div class="col-md-6">
			<div class="block">
				<div class="block-title">
					<h2><strong>Article Info</strong></h2>
				</div>
				{% include 'Articles/Partials/ArticleForm.twig' %}
			</div>
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-3">
		</div>
	</div>
{% endblock %}