{% extends "Master/Master.twig" %}

{% block title %}Articles{% endblock %}


{% block head %}

{% endblock %}


{% block content %}
	<div class="content-header">
		<div class="header-section">
			<h1>
				<i class="gi gi-article"></i>List of Articles<br/>
				<small>Write description here how to use this page</small>
			</h1>
		</div>
	</div>

	<ul class="breadcrumb breadcrumb-top">
		<li><a href="{{ Router.Create("articles") }}">Articles</a></li>
		<li>List</li>
	</ul>

	<div class="block">
		<div class="block-title">
			<div class="block-options pull-right">
				<a href="{{ Router.Create("add-article") }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i></a>
			</div>
			<h2><strong>Articles</strong></h2>
		</div>
		<div class="table-responsive">
			{% if model.Articles | length %}
				<table id="general-table" class="table table-striped table-vcenter">
					<thead>
						<tr>
							<th>Image</th>
							<th>Title</th>
							<th>Subtitle</th>
							<th>Description</th>
							<th>Tags</th>
							<th>Date Created</th>
							<th style="width: 150px;" class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for article in model.Articles %}
							<tr>
								<td><i class="fa"><img width="100" src="{{ article.PictureUrl() }}"/></i></td>

								<td>{{ article.Title }}</td>
								<td>{{ article.Subtitle }}</td>
								<td>{{ article.Description }}</td>
								<td>{{ article.Tags }}</td>
								<td>{{ article.DateCreated }}</td>
								<td class="text-center">
									<div class="btn-group btn-group-xs">
										<a href="{{ Router.Create("edit-article", {articleId: article.ArticleId}) }}"
										   class="btn btn-primary"><i class="fa fa-pencil"></i></a>
									</div>
									<div class="btn-group btn-group-xs">
										<a href="{{ Router.Create("delete-article", {articleId: article.ArticleId}) }}"
										   class="confirm btn btn-danger"><i class="fa fa-times"></i></a>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	</div>

	<a class="btn btn-lg btn-success" href="{{ Router.Create("add-article") }}">Add Article</a>
{% endblock %}

{% block footer_scripts %}
	<script type="text/javascript">
		$(".confirm").confirm({
			confirmButtonClass: "btn-danger"
		});
	</script>
{% endblock %}