{% extends "Master/Master.twig" %}

{% block title %}Add New User{% endblock %}


{% block head %}

{% endblock %}


{% block content %}
	<div class="content-header">
		<div class="header-section">
			<h1>
				<i class="gi gi-user"></i>Add New User<br/>
				<small>Write description here how to add new user</small>
			</h1>
		</div>
	</div>

	<ul class="breadcrumb breadcrumb-top">
		<li><a href="{{ Router.Create("users") }}">Users</a></li>
		<li>Add New User</li>
	</ul>

	<div class="row">
		<div class="col-md-6">
			<div class="block">
				<div class="block-title">
					<h2><strong>User Info</strong></h2>
				</div>
				{% include 'Users/Partials/UserForm.twig' %}
			</div>
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-3">
		</div>
	</div>
{% endblock %}