{% extends "Master/Master.twig" %}

{% block title %}Users{% endblock %}


{% block head %}

{% endblock %}


{% block content %}
	<div class="content-header">
		<div class="header-section">
			<h1>
				<i class="gi gi-user"></i>List of Users<br/>
				<small>Write description here how to use this page</small>
			</h1>
		</div>
	</div>

	<ul class="breadcrumb breadcrumb-top">
		<li><a href="{{ Router.Create("users") }}">Users</a></li>
		<li>List</li>
	</ul>

	<div class="block">
		<div class="block-title">
			<div class="block-options pull-right">
				<a href="{{ Router.Create("add-user") }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i></a>
			</div>
			<h2><strong>Users</strong></h2>
		</div>
		<div class="table-responsive">
			{% if model.Users | length %}
				<table id="general-table" class="table table-striped table-vcenter">
					<thead>
					<tr>
						<th>Image</th>
						<th>Name</th>
						<th>Email</th>
						<th>Username</th>
						<th>Active</th>
						<th style="width: 150px;" class="text-center">Actions</th>
					</tr>
					</thead>
					<tbody>
					{% for user in model.Users %}
						<tr>
							<td><i class="fa"><img width="100" src="{{ user.ImageUrl() }}"/></i></td>

							<td>{{ user.Name }}</td>
							<td>{{ user.Email }}</td>
							<td>{{ user.Username }}</td>
							<td>
								{% if user.Active == 1 %}
									<span class="label label-success label-block label-in-list">Yes</span>
								{% else %}
									<span class="label label-danger label-block label-in-list">No</span>
								{% endif %}
							</td>
							<td class="text-center">
								<div class="btn-group btn-group-xs">
									<a href="{{ Router.Create("edit-user", {userId: user.UserId}) }}"
									   class="btn btn-primary"><i class="fa fa-pencil"></i></a>
								</div>
								<div class="btn-group btn-group-xs">
									<a href="{{ Router.Create("delete-user", {userId: user.UserId}) }}"
									   class="confirm btn btn-danger"><i class="fa fa-times"></i></a>
								</div>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	</div>

	<a class="btn btn-lg btn-success" href="{{ Router.Create("add-user") }}">Add User</a>
{% endblock %}

{% block footer_scripts %}
	<script type="text/javascript">
		$(".confirm").confirm({
			confirmButtonClass: "btn-danger"
		});
	</script>
{% endblock %}