<form method="post" enctype="multipart/form-data" class="form-bordered">
	<div class="form-group">
		<label for="title">Title</label>
		<input type="text" id="title" name="title" class="form-control" placeholder="Enter Title"
			   value="{{ model.Article.Title }}" required/>
	</div>
	<div class="form-group">
		<label for="subtitle">Subtitle</label>
		<input type="text" id="subtitle" name="subtitle" class="form-control" placeholder="Enter Subtitle"
			   value="{{ model.Article.Subtitle }}" required/>
	</div>
	<div class="form-group">
		<label for="description">Description</label><br>
		<textarea placeholder="Description" name="description"
				  class="form-control wysiwyg">{{ model.Article.Description }}</textarea>
	</div>
	<div class="form-group">
		<label for="password">Tags</label><br>
		<input type="text" id="tags" name="tags" class="form-control" placeholder="Enter Tag"
			   value=""/>
	</div>

	<div class="form-group">
		<label for="picture">Picture</label>
		<input type="file" id="picture" name="picture" class="form-control"/>
	</div>
	<div class="form-group form-actions">
		<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Save
		</button>
		<button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset
		</button>
	</div>
</form>