.extreme .resume h1 {
    color: #aeea00;
    font-weight: 700;
}

.extreme p.tagline {
    color: #000000;
}

.extreme .btn.btn-secondary, .extreme .btn.btn-secondary:hover {
    background-color: #272727;
    color: #aeea00;
    border-color: #272727;
}

.extreme .btn, .extreme .btn:hover {
    background-color: #ffffff;
    color: #272727;
    border: 2px solid #aeea00;
}

.extreme nav ul li a.active {
    color: #aeea00;
}

.extreme .item-info a i, .extreme .item-info div i {
    color: #aeea00;
}

.extreme .resume-section h2 {
    color: #000000;
}

.extreme .resume-section h2:after {
    background-color: #aeea00;
    content: " ";
    width: 30px;
    height: 5px;
    margin-top: 5px;
    display: block;
}

.extreme .item-info.highlight a, .extreme .item-info.highlight > div {
    border: 2px solid #aeea00;
    color: #000000;
    background-color: #ffffff;
}

.extreme .item-info.highlight a i, .extreme .item-info.highlight div i {
    color: #000000;
}

.extreme .resume-item p.item-subtitle {
    color: #aeea00;
}

.extreme .resume-item h3 {
    color: #000000;
}

.extreme .progress .determinate {
    background-color: #aeea00;
}

.extreme .level-tooltip {
    border-color: #000000;
}

.extreme .language-level-indicator.active, .extreme .language-level-indicator.selected {
    background-color: #aeea00;
}

.extreme i.item-icon {
    color: #aeea00;
}