.gaming .resume h1 {
    color: #0d47a1;
    font-weight: 700;
}

.gaming p.tagline {
    color: #f50057;
}

.gaming .btn.btn-secondary, .gaming .btn.btn-secondary:hover {
    background-color: #0d47a1;
    color: #ffffff;
    border-color: #0d47a1;
}

.gaming .btn, .gaming .btn:hover {
    background-color: #ffffff;
    color: #0d47a1;
    border: 2px solid #0d47a1;
}

.gaming nav ul li a.active {
    color: #f50057;
}

.gaming .item-info a i, .gaming .item-info div i {
    color: #0d47a1;
}

.gaming .resume-section h2 {
    color: #0d47a1;
}

.gaming .resume-section h2:after {
    background-color: #f50057;
    content: " ";
    width: 30px;
    height: 5px;
    margin-top: 5px;
    display: block;
}

.gaming .item-info.highlight a, .gaming .item-info.highlight > div {
    border: 2px solid #0d47a1;
    color: #f50057;
    background-color: #ffffff;
}

.gaming .item-info.highlight a i, .gaming .item-info.highlight div i {
    color: #0d47a1;
}

.gaming .resume-item p.item-subtitle {
    color: #f50057;
}

.gaming .resume-item h3 {
    color: #0d47a1;
}

.gaming .progress .determinate {
    background-color: #0d47a1;
}

.gaming .level-tooltip {
    border-color: #f50057;
}

.gaming .language-level-indicator.active, .gaming .language-level-indicator.selected {
    background-color: #f50057;
}

.gaming i.item-icon {
    color: #f50057;
}

.gaming div#secondarySections h2 {
    color: #0d47a1;
}