@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700&subset=cyrillic-ext,latin-ext');

body.geo {
    background-color: #ffe57f;
    font-family: 'Merriweather', serif;
}

.geo .resume h1 {
    color: #272727;
    font-weight: 700;
}

.geo p.tagline {
    color: #000000;
}

.geo .btn.btn-secondary, .geo .btn.btn-secondary:hover {
    background-color: #272727;
    color: #ffe57f;
    border-color: #272727;
}

.geo .btn, .geo .btn:hover {
    background-color: #ffffff;
    color: #272727;
    border: 2px solid #ffe57f;
}

.geo nav ul li.active a {
    color: #272727;
}

.geo .item-info a i, .geo .item-info div i {
    color: #272727;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 0;
}

.geo .resume-section h2 {
    color: #000000;
}

.geo .resume-section h2 i {
    display: inline-block;
    font-size: initial;
    vertical-align: middle;
    color: #212121;
    background-color: #ffe57f;
    border-radius: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.geo .item-info.highlight a, .geo .item-info.highlight > div {
    border: 2px solid #ffe57f;
    color: #000000;
    background-color: #ffe57f;
    border-radius: 0;
}

.geo .item-info.highlight a i, .geo .item-info.highlight div i {
    color: #000000;
    background-color: #ffe57f;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.geo .resume-item p.item-subtitle {
    color: #272727;
    display: inline-block;
    background-color: #ffffff;
    /* padding: 0 10px; */
}

.geo .resume-item h3 {
    color: #000000;
}

.geo .progress .determinate {
    background-color: #ffe57f;
}

.geo .level-tooltip {
    border-color: #000000;
    border-radius: 0;
}

.geo .language-level-indicator.active, .geo .language-level-indicator.selected {
    background-color: #ffe57f;
}

.geo i.item-icon {
    color: #ffe57f;
    background-color: #212121;
}