.gynny .resume h1 {
    color: #4a148c;
}

.gynny p.tagline {
    color: #90caf9;
}

.gynny .btn.btn-secondary, .gynny .btn.btn-secondary:hover {
    background-color: #90caf9;
    color: #fff;
    border-color: #90caf9;
}

.gynny .btn, .gynny .btn:hover {
    background-color: #ffffff;
    color: #4a148c;
    border: 2px solid #4a148c;
}

.gynny nav ul li.active a {
    color: #4a148c;
}

.gynny .item-info a i, .gynny .item-info div i {
    color: #4a148c;
}

.gynny .resume-section h2 {
    color: #90caf9;
}

.gynny .item-info.highlight a, .gynny .item-info.highlight > div {
    border: 2px solid #4a148c;
    color: #ffffff;
    background-color: #4a148c;
}

.gynny .item-info.highlight a i, .gynny .item-info.highlight div i {
    color: #90caf9;
}

.gynny .resume-item p.item-subtitle {
    color: #90caf9;
}

.gynny .resume-item h3 {
    color: #4a148c;
}

.gynny .progress .determinate {
    background-color: #4a148c;
}

.gynny .level-tooltip {
    border-color: #90caf9;
}

.gynny .language-level-indicator.active, .gynny .language-level-indicator.selected {
    background-color: #90caf9;
}

.gynny i.item-icon {
    color: #90caf9;
}

.gynny nav ul li a.active {
    color: #90caf9;
}