body.nature {
    background-color: #bbdefb;
}

.nature .resume h1 {
    color: #689f38;
    font-weight: 700;
}

.nature p.tagline {
    color: #795548;
}

.nature .btn.btn-secondary, .nature .btn.btn-secondary:hover {
    background-color: #689f38;
    color: #ffffff;
    border-color: #689f38;
}

.nature .btn, .nature .btn:hover {
    background-color: #ffffff;
    color: #689f38;
    border: 2px solid #795548;
}

.nature nav ul li a.active {
    color: #689f38;
}

.nature .item-info a i, .nature .item-info div i {
    color: #689f38;
}

.nature .resume-section h2 {
    color: #689f38;
}

.nature .resume-section h2:after {
    background-color: #795548;
    content: " ";
    width: 30px;
    height: 5px;
    margin-top: 5px;
    display: block;
}

.nature .item-info.highlight a, .nature .item-info.highlight > div {
    border: 2px solid #795548;
    color: #689f38;
    background-color: #ffffff;
}

.nature .item-info.highlight a i, .nature .item-info.highlight div i {
    color: #795548;
}

.nature .resume-item p.item-subtitle {
    color: #795548;
}

.nature .resume-item h3 {
    color: #689f38;
}

.nature .progress .determinate {
    background-color: #795548;
}

.nature .level-tooltip {
    border-color: #689f38;
}

.nature .language-level-indicator.active, .nature .language-level-indicator.selected {
    background-color: #795548;
}

.nature i.item-icon {
    color: #795548;
}