body.office {
    background-color: #162051;
}

.office .resume h1 {
    color: #162051;
    font-weight: 700;
}

.office p.tagline {
    color: #1e7a8c;
}

.office .btn.btn-secondary, .office .btn.btn-secondary:hover {
    background-color: #162051;
    color: #ffffff;
    border-color: #162051;
}

.office .btn, .office .btn:hover {
    background-color: #1e7a8c;
    color: #ffffff;
    border: 2px solid #1e7a8c;
}

.office nav ul li a.active {
    color: #1e7a8c;
}

.office .item-info a i, .office .item-info div i {
    color: #162051;
}

.office .resume-section h2 {
    color: #162051;
}

.office .resume-section h2:after {
    background-color: #162051;
    content: " ";
    width: 30px;
    height: 5px;
    margin-top: 5px;
    display: block;
}

.office .item-info.highlight a, .office .item-info.highlight > div {
    border: 2px solid #1e7a8c;
    color: #ffffff;
    background-color: #1e7a8c;
}

.office .item-info.highlight a i, .office .item-info.highlight div i {
    color: #ffffff;
}

.office .resume-item p.item-subtitle {
    color: #1e7a8c;
}

.office .resume-item h3 {
    color: #162051;
}

.office .progress .determinate {
    background-color: #162051;
}

.office .level-tooltip {
    border-color: #1e7a8c;
}

.office .language-level-indicator.active, .office .language-level-indicator.selected {
    background-color: #1e7a8c;
}

.office i.item-icon {
    color: #1e7a8c;
}

.office div#secondarySections h2 {
    border-color: #162051;
    color: #ffffff;
    padding: 0;
    margin-right: 30px;
}