.pc_blue nav ul li a.active {
    color: #0042ff;
}

.pc_blue p.tagline {
    color: #0042ff;
}

.pc_blue .item-info a i, .pc_blue .item-info div i {
    color: #0042ff;
}

.pc_blue .resume-section h2:before, .pc_blue h2.section-title:before {
    background-color: #0042ff;
}

.pc_blue .resume-item.timeline:before {
    background-color: #0042ff;
    border: 2px solid #0042ff;
}

.pc_blue .language-level-indicator.active, .pc_blue .language-level-indicator.selected {
    background-color: #0042ff;
}

.pc_blue .progress .determinate {
    background-color: #0042ff;
}

.pc_blue .level-tooltip {
    border: 3px solid #0042ff;
}

.pc_blue i.item-icon {
    color: #0042ff;
}

.pc_blue .btn.btn-secondary, .pc_blue .btn.btn-secondary:hover {
    background-color: #0042ff;
    border-color: #0042ff;
}

.pc_blue .slick-center .card.portfolio-card .card-content {
    border-top: 5px solid #0042ff;
}