.pc_brown nav ul li a.active {
    color: #4e2a04;
}

.pc_brown p.tagline {
    color: #4e2a04;
}

.pc_brown .item-info a i, .pc_brown .item-info div i {
    color: #4e2a04;
}

.pc_brown .resume-section h2:before, .pc_brown h2.section-title:before {
    background-color: #4e2a04;
}

.pc_brown .resume-item.timeline:before {
    background-color: #4e2a04;
    border: 2px solid #4e2a04;
}

.pc_brown .language-level-indicator.active, .pc_brown .language-level-indicator.selected {
    background-color: #4e2a04;
}

.pc_brown .progress .determinate {
    background-color: #4e2a04;
}

.pc_brown .level-tooltip {
    border: 3px solid #4e2a04;
}

.pc_brown i.item-icon {
    color: #4e2a04;
}

.pc_brown .btn.btn-secondary, .pc_brown .btn.btn-secondary:hover {
    background-color: #4e2a04;
    border-color: #4e2a04;
}

.pc_brown .slick-center .card.portfolio-card .card-content {
    border-top: 5px solid #4e2a04;
}