.pc_cyan nav ul li a.active {
    color: #1ce6b9;
}

.pc_cyan p.tagline {
    color: #1ce6b9;
}

.pc_cyan .item-info a i, .pc_cyan .item-info div i {
    color: #1ce6b9;
}

.pc_cyan .resume-section h2:before, .pc_cyan h2.section-title:before {
    background-color: #1ce6b9;
}

.pc_cyan .resume-item.timeline:before {
    background-color: #1ce6b9;
    border: 2px solid #1ce6b9;
}

.pc_cyan .language-level-indicator.active, .pc_cyan .language-level-indicator.selected {
    background-color: #1ce6b9;
}

.pc_cyan .progress .determinate {
    background-color: #1ce6b9;
}

.pc_cyan .level-tooltip {
    border: 3px solid #1ce6b9;
}

.pc_cyan i.item-icon {
    color: #1ce6b9;
}

.pc_cyan .btn.btn-secondary, .pc_cyan .btn.btn-secondary:hover {
    background-color: #1ce6b9;
    border-color: #1ce6b9;
}

.pc_cyan .slick-center .card.portfolio-card .card-content {
    border-top: 5px solid #1ce6b9;
}