.pc_green nav ul li a.active {
    color: #20c000;
}

.pc_green p.tagline {
    color: #20c000;
}

.pc_green .item-info a i, .pc_green .item-info div i {
    color: #20c000;
}

.pc_green .resume-section h2:before, .pc_green h2.section-title:before {
    background-color: #20c000;
}

.pc_green .resume-item.timeline:before {
    background-color: #20c000;
    border: 2px solid #20c000;
}

.pc_green .language-level-indicator.active, .pc_green .language-level-indicator.selected {
    background-color: #20c000;
}

.pc_green .progress .determinate {
    background-color: #20c000;
}

.pc_green .level-tooltip {
    border: 3px solid #20c000;
}

.pc_green i.item-icon {
    color: #20c000;
}

.pc_green .btn.btn-secondary, .pc_green .btn.btn-secondary:hover {
    background-color: #20c000;
    border-color: #20c000;
}

.pc_green .slick-center .card.portfolio-card .card-content {
    border-top: 5px solid #20c000;
}