.pc_orange nav ul li a.active {
    color: #fe8a0e;
}

.pc_orange p.tagline {
    color: #fe8a0e;
}

.pc_orange .item-info a i, .pc_orange .item-info div i {
    color: #fe8a0e;
}

.pc_orange .resume-section h2:before, .pc_orange h2.section-title:before {
    background-color: #fe8a0e;
}

.pc_orange .resume-item.timeline:before {
    background-color: #fe8a0e;
    border: 2px solid #fe8a0e;
}

.pc_orange .language-level-indicator.active, .pc_orange .language-level-indicator.selected {
    background-color: #fe8a0e;
}

.pc_orange .progress .determinate {
    background-color: #fe8a0e;
}

.pc_orange .level-tooltip {
    border: 3px solid #fe8a0e;
}

.pc_orange i.item-icon {
    color: #fe8a0e;
}

.pc_orange .btn.btn-secondary, .pc_orange .btn.btn-secondary:hover {
    background-color: #fe8a0e;
    border-color: #fe8a0e;
}

.pc_orange .slick-center .card.portfolio-card .card-content {
    border-top: 5px solid #fe8a0e;
}