.pc_purple nav ul li a.active {
    color: #540081;
}

.pc_purple p.tagline {
    color: #540081;
}

.pc_purple .item-info a i, .pc_purple .item-info div i {
    color: #540081;
}

.pc_purple .resume-section h2:before, .pc_purple h2.section-title:before {
    background-color: #540081;
}

.pc_purple .resume-item.timeline:before {
    background-color: #540081;
    border: 2px solid #540081;
}

.pc_purple .language-level-indicator.active, .pc_purple .language-level-indicator.selected {
    background-color: #540081;
}

.pc_purple .progress .determinate {
    background-color: #540081;
}

.pc_purple .level-tooltip {
    border: 3px solid #540081;
}

.pc_purple i.item-icon {
    color: #540081;
}

.pc_purple .btn.btn-secondary, .pc_purple .btn.btn-secondary:hover {
    background-color: #540081;
    border-color: #540081;
}

.pc_purple .slick-center .card.portfolio-card .card-content {
    border-top: 5px solid #540081;
}