.pc_pink nav ul li a.active {
    color: #e55bb0;
}

.pc_pink p.tagline {
    color: #e55bb0;
}

.pc_pink .item-info a i, .pc_pink .item-info div i {
    color: #e55bb0;
}

.pc_pink .resume-section h2:before, .pc_pink h2.section-title:before {
    background-color: #e55bb0;
}

.pc_pink .resume-item.timeline:before {
    background-color: #e55bb0;
    border: 2px solid #e55bb0;
}

.pc_pink .language-level-indicator.active, .pc_pink .language-level-indicator.selected {
    background-color: #e55bb0;
}

.pc_pink .progress .determinate {
    background-color: #e55bb0;
}

.pc_pink .level-tooltip {
    border: 3px solid #e55bb0;
}

.pc_pink i.item-icon {
    color: #e55bb0;
}

.pc_pink .btn.btn-secondary, .pc_pink .btn.btn-secondary:hover {
    background-color: #e55bb0;
    border-color: #e55bb0;
}

.pc_pink .slick-center .card.portfolio-card .card-content {
    border-top: 5px solid #e55bb0;
}