.pc_red nav ul li a.active {
    color: #ff0303;
}

.pc_red p.tagline {
    color: #ff0303;
}

.pc_red .item-info a i, .pc_red .item-info div i {
    color: #ff0303;
}

.pc_red .resume-section h2:before, .pc_red h2.section-title:before {
    background-color: #ff0303;
}

.pc_red .resume-item.timeline:before {
    background-color: #ff0303;
    border: 2px solid #ff0303;
}

.pc_red .language-level-indicator.active, .pc_red .language-level-indicator.selected {
    background-color: #ff0303;
}

.pc_red .progress .determinate {
    background-color: #ff0303;
}

.pc_red .level-tooltip {
    border: 3px solid #ff0303;
}

.pc_red i.item-icon {
    color: #ff0303;
}

.pc_red .btn.btn-secondary, .pc_red .btn.btn-secondary:hover {
    background-color: #ff0303;
    border-color: #ff0303;
}

.pc_red .slick-center .card.portfolio-card .card-content {
    border-top: 5px solid #ff0303;
}