.pc_silver nav ul li a.active {
    color: #959697;
}

.pc_silver p.tagline {
    color: #959697;
}

.pc_silver .item-info a i, .pc_silver .item-info div i {
    color: #959697;
}

.pc_silver .resume-section h2:before, .pc_silver h2.section-title:before {
    background-color: #959697;
}

.pc_silver .resume-item.timeline:before {
    background-color: #959697;
    border: 2px solid #959697;
}

.pc_silver .language-level-indicator.active, .pc_silver .language-level-indicator.selected {
    background-color: #959697;
}

.pc_silver .progress .determinate {
    background-color: #959697;
}

.pc_silver .level-tooltip {
    border: 3px solid #959697;
}

.pc_silver i.item-icon {
    color: #959697;
}

.pc_silver .btn.btn-secondary, .pc_silver .btn.btn-secondary:hover {
    background-color: #959697;
    border-color: #959697;
}

.pc_silver .slick-center .card.portfolio-card .card-content {
    border-top: 5px solid #959697;
}