.pc_teal nav ul li a.active {
    color: #106246;
}

.pc_teal p.tagline {
    color: #106246;
}

.pc_teal .item-info a i, .pc_teal .item-info div i {
    color: #106246;
}

.pc_teal .resume-section h2:before, .pc_teal h2.section-title:before {
    background-color: #106246;
}

.pc_teal .resume-item.timeline:before {
    background-color: #106246;
    border: 2px solid #106246;
}

.pc_teal .language-level-indicator.active, .pc_teal .language-level-indicator.selected {
    background-color: #106246;
}

.pc_teal .progress .determinate {
    background-color: #106246;
}

.pc_teal .level-tooltip {
    border: 3px solid #106246;
}

.pc_teal i.item-icon {
    color: #106246;
}

.pc_teal .btn.btn-secondary, .pc_teal .btn.btn-secondary:hover {
    background-color: #106246;
    border-color: #106246;
}

.pc_teal .slick-center .card.portfolio-card .card-content {
    border-top: 5px solid #106246;
}