.pc_yellow nav ul li a.active {
    color: #000000;
    background-color: #fffc01;
}

.pc_yellow p.tagline {
    color: #fffc01;
}

.pc_yellow .item-info a i, .pc_yellow .item-info div i {
    color: #fffc01;
}

.pc_yellow .resume-section h2:before, .pc_yellow h2.section-title:before {
    background-color: #fffc01;
}

.pc_yellow .resume-item.timeline:before {
    background-color: #fffc01;
    border: 2px solid #fffc01;
}

.pc_yellow .language-level-indicator.active, .pc_yellow .language-level-indicator.selected {
    background-color: #fffc01;
}

.pc_yellow .progress .determinate {
    background-color: #fffc01;
}

.pc_yellow .level-tooltip {
    border: 3px solid #fffc01;
}

.pc_yellow i.item-icon {
    color: #fffc01;
}

.pc_yellow .btn.btn-secondary, .pc_yellow .btn.btn-secondary:hover {
    background-color: #fffc01;
    border-color: #fffc01;
    color: #000;
}

.pc_yellow .slick-center .card.portfolio-card .card-content {
    border-top: 5px solid #fffc01;
}