.ubrium .resume {
    position: relative;
}

.ubrium .resume:before {
    content: " ";
    height: 30px;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d9476a;
    background-image: url(../../media/graphics/bgt1o.png);
    background-position: center;
}

.ubrium .resume:after {
    content: " ";
    height: 30px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #d9476a;
    background-image: url(../../media/graphics/bgt1o.png);
    background-position: center;
}

.ubrium .resume h1 {
    color: #222222;
    /* font-weight: 700; */
}

.ubrium p.tagline {
    color: #503a6f;
}

.ubrium .btn.btn-secondary, .ubrium .btn.btn-secondary:hover {
    background-color: #50396d;
    color: #ffffff;
    border-color: #50396d;
}

.ubrium .btn, .ubrium .btn:hover {
    background-color: #ffffff;
    color: #78214f;
    border: 2px solid #4f4394;
}

.ubrium nav ul li a.active {
    color: #4f4394;
}

.ubrium .item-info a i, .ubrium .item-info div i {
    color: #78214f;
}

.ubrium .resume-section h2 {
    color: #50396d;
}

.ubrium .resume-section h2:before {
    background-color: #78214f;
    content: " ";
    height: 5px;
    width: 40px;
    display: block;
    margin-bottom: 10px;
}

.ubrium .item-info.highlight a, .ubrium .item-info.highlight > div {
    border: none;
    padding: 0;
    color: #78214f;
    font-size: 12px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0);
    font-weight: 700;
}

.ubrium .item-info.highlight a i, .ubrium .item-info.highlight div i {
    color: #78214f;
}

.ubrium .resume-item.timeline {
    border-color: #e8e8e8;
}

.ubrium .resume-item.timeline:before {
    border: 2px solid #50396d;
    background: #50396d;
}

.ubrium .resume-item p.item-subtitle {
    color: #78214f;
}

.ubrium .resume-item h3 {
    color: #50396d;
}

.ubrium .progress .determinate {
    background-color: #50396d;
}

.ubrium .level-tooltip {
    border-color: #78214f;
}

.ubrium .language-level-indicator.active, .ubrium .language-level-indicator.selected {
    background-color: #505ab1;
}

.ubrium i.item-icon {
    color: #ffffff;
    border-radius: 40px;
    background-color: #78214f;
}