@media screen and (min-width: 320px) and (max-width: 440px) {

    .container {
        width: 90% !important;
    }

    .card-header h1 {
        font-size: 30px;
        margin: 20px 0 0;
    }

    .card-header h1, .card-header h2 {
        text-align: center;
    }

    .user-image {
        width: 120px;
        height: 120px;
    }

    /* landing area */
    .landing-area {
        /* height: 450px; */
    }

    .landing-area h1 {
        font-size: 28px;
    }

    .landing-area p {
        margin-bottom: 30px;
        font-size: 16px;
    }

    .sidebar {
        width: 100%;
        height: 60px
    }

    .sidebar .trigger, .page-header .bar .blog-search, .page-header .bar .back {
        width: 60px;
        height: 60px;
        line-height: 60px
    }

    .sidebar .brand-logo {width: 60px;height: 60px;left: 0;right: 0;margin: 0 auto;top: 0;}

    a.brand-logo img {
        margin: 5px;
    }

    .side-nav {
        background: #fff !important;
        z-index: 1039;
    }

    .resume {
        padding: 10px !important;
    }

    .resume-item {
        width: 100% !important;
    }

    .note-editor .note-editable p span,
    .about-section p span {
        font-size: 1.1em !important;
    }

    .resume-header .item-info a, .resume-header .item-info > div {
        width: 100%;
    }

    .resume-section.resume-header {
    }

    label#userImageContainer {
        display: inline-block;
    }

    .resume-image {
        text-align: left !important;
    }

    .item-info a, .item-info > div {
        width: 100% !important;
    }

    .item-info.highlight a, .item-info.highlight > div {
        width: auto !important;
    }

}

@media screen and (min-width: 440px) and (max-width: 768px) {

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

}

@media screen and (min-width: 1024px) and (max-width: 1050px) {

}

@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}