body {
    background-image: url(../media/graphics/gplay.png);
    background-attachment: fixed;
}

.resume {
    background-color: #fff;
    padding: 80px;
    margin: 80px 0 100px;
}

.resume-section {
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
}

.about-section {
    padding: 50px;
    font-size: 16px;
}

.about-field {
    padding: 50px;
}

.resume-section h2 {
    font-size: 25px;
    text-transform: uppercase;
    color: #81d4fa;
    font-weight: 700;
    margin-bottom: 70px;
}

.resume-section h2 span.badge {
    padding: 0 20px;
    opacity: 0;
    cursor: pointer;
    height: 40px;
    line-height: 36px;
    text-transform: initial;
}

span.badge.delete-section {
    color: #d92d41;
}

.resume-section:hover h2 span.badge {
    opacity: 1;
}

.resume-item {
    padding: 10px 15px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
}

.edit-buttons {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: -50px;
    display: none;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 0px 31px 0px rgba(50, 50, 50, 0.2);
}

.open-edit, .delete-item {
    height: 30px;
    line-height: 30px;
    font-weight: 700;
    padding: 0 10px;
    display: inline-block;
    color: #000;
}

.open-edit {
    /* color: #fff; */
    /* background-color: #673ab7; */
}

.delete-item {
    color: #d92d41;
    /* background-color: #d92d41; */
}

.resume-item:hover .edit-buttons,
.resume-item.editor-activated .edit-buttons {
    display: block;
}

.edit-item:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.edit-btn {
    display: none;
}

.edit-btn.show,
.resume-item.editor-activated .edit-btn {
    display: inline-block;
}

.editor-item-box {
    display: none;
}

.resume-item.hide {
    display: none;
}

.resume-item.editor-activated {
    background-color: #fff;
    z-index: 1000;
}

.editor-overlay.activated {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.resume-item.editor-box {
}

.resume-item.col-2 {
    width: 49%;
    padding: 10px 25px;
}

.resume-item.col-3 {
    width: 32%;
}

.resume-item.col-4 {
    width: 24%;
}

.resume-section > .row > .resume-item.editor-box.col-2:nth-of-type(odd) {
}

.resume-section > .row > .col-2:not(.editor-item-box):nth-of-type(odd) {
    /* padding-right: 50px; */
    border-right: 1px solid #ddd;
}

.resume-section > .row > .col-2:not(.editor-item-box):nth-of-type(even) {
    /* padding-left: 50px; */
}

.resume-item h3 {
    font-size: 19px;
    font-weight: 500;
    color: #212121;
    margin-bottom: 10px;
}

.resume-item.skill-item h3 {
    font-size: 16px;
}

.resume-item p {
    font-size: 16px;
    color: #787878;
}

.resume-item p.item-subtitle {
    color: #81d4fa;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
}

.resume-item p.points {
    color: #42a5f5;
    font-weight: 700;
    font-size: 30px;
}

.resume-section > .row > .col.l6 {
    height: 250px;
}

.resume-section > .row > .col.rel-height {
    height: auto;
}

.resume-section > .row > .col.l6:nth-of-type(odd) {
}

.resume-section > .row > .col.l6:nth-of-type(even) {
    padding-left: 50px;
}

.item-info a, .item-info > div {
    color: #727272;
    font-weight: 500;
    display: inline-block;
    padding-right: 10px;
    width: 49%;
    margin-bottom: 5px;
}

.item-info a i,
.item-info div i {
    color: #81d4fa;
    display: inline-block;
    width: 20px;
}

.item-info.highlight a, .item-info.highlight > div {
    width: auto;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: 400;
    /* border-radius: 18px; */
    border: 2px solid #81d4fa;
    background-color: #81d4fa;
}

.item-info.highlight a i, .item-info.highlight div i {
    color: #ffffff;
}

.item-info div span {
    display: inline-block;
    min-width: 10px;
}

.resume-image {
    text-align: right;
}

.resume .user-image {
    display: inline-block;
}

.resume h1 {
    font-weight: 100;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #212121;
}

.resume h1:focus {
    text-transform: capitalize;
}

p.tagline {
    font-size: 22px;
    color: #81d4fa;
    margin: 0 0 20px;
}

img.flag {
    height: 20px;
    vertical-align: middle;
}

.resume .chip {
    /* background-color: #42a5f5; */
    /* color: #ffffff; */
    /* height: 40px; */
    /* padding: 0 20px; */
    /* line-height: 40px; */
    /* font-size: 15px; */
    border-radius: 3rem;
}

.chip span.badge {
    margin-top: 9px;
    background-color: #673ab7;
    color: #fff;
    border-radius: 3rem;
}

#skillsRow .progress {
    height: 10px;
    background-color: #ddd;
    overflow: initial;
}

.progress .determinate {
    background-color: #81d4fa;
}

.language-level-indicator {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 100%;
    background-color: #444;
}

.language-level-indicator.active,
.language-level-indicator.selected {
    background-color: #81d4fa;
}

.language-level-indicator.add-level:hover {
    background-color: #4db6ac;
}

input.dial {
    color: #212121 !important;
}

.skill-item {
    margin-bottom: 25px;
}

.skill-item .chip {
    width: auto;
}

i.item-icon {
    color: #81d4fa;
    font-size: 20px;
    margin-top: 35px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.editor-activated:hover i.item-icon {
    background-color: #ddd;
    color: #000;
}

.icon-select-list i {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.icon-select-list i:hover {
    background-color: #eee;
}

ul.countries li a img {
    margin-right: 10px;
    height: 30px;
}

.modal-list a i {
    display: inline-block;
    width: 40px;
    text-align: center;
}

#countryCode {
    cursor: pointer;
}

.level-tooltip {
    float: right;
    background-color: #fff;
    border-radius: 100%;
    border: 3px solid #81d4fa;
    margin-top: -15px;
    margin-right: -5px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 34px;
    font-weight: 700;
    font-size: 12px;
}

#resumeCanvas {
    position: fixed;
    top: -99999px;
}

/* portfolio */

.secondary-containers {
    background-color: #fff;
    padding: 50px 50px 50px;
    margin-bottom: 80px;
}

.resume-container .card {
    box-shadow: none;
    height: 450px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.resume-container .card:hover .edit-buttons {
    display: block;
}

.resume-container .card.quote {
    box-shadow: none;
    height: auto;
    display: block;
    vertical-align: top;
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.resume-container .card.quote:hover .edit-buttons {
    display: block;
}

.resume-container .card.quote .card-content {
    position: relative;
}

.resume-container .card .card-content {
    padding: 50px;
    width: 100%;
    bottom: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.resume-container .card .card-content.not-visible {
    opacity: 0;
}

.resume-container .card:hover .card-content.not-visible {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.74);
}

.resume-container .card .card-content .card-title {
    font-weight: 700;
    color: #444;
    font-size: 40px;
    margin-bottom: 30px;
}

.resume-container .card .card-content .card-title {
    font-size: 18px;
}

.resume-container .card .card-content.not-visible .card-title {
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition-delay: 0.2s;
    /* color: #fff; */
}

.resume-container .card:hover .card-content.not-visible .card-title {
    transform: translateY(0);
    opacity: 1;
}

.resume-container .card .card-content.not-visible p {
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition-delay: 0.2s;
    /* color: #fff; */
}

.resume-container .card:hover .card-content.not-visible p {
    transform: translateY(0);
    opacity: 1;
}

.resume-container .card .card-content.not-visible .btn {
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition-delay: 0.2s;
    background: none;
    /* color: #fff; */
    /* border-color: #fff; */
}

.resume-container .card:hover .card-content.not-visible .btn {
    transform: translateY(0);
    opacity: 1;
}

.content-row {
    min-height: 250px;
}

span.badge.btn.add-item-alt {
    height: 40px;
    line-height: 36px;
    padding: 0 30px;
}

.resume-container .card.quote .card-content .card-title span.author-position {
    font-weight: 500;
    color: #999;
    font-size: 16px;
}

.resume-container .card.quote .card-content .card-title span {
    min-width: 10px;
    display: inline-block;
}

.quote .item-info {
    margin-bottom: 20px;
}

.resume-container .card .user-image {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

.resume-container .card.quote .card-content p {
    font-size: 20px;
    color: #787878;
}

#quotesRow {
    margin-bottom: 80px;
}

.item-header-image img {
    width: 100%;
}

.item-image-gallery {
    display: inline-block;
    width: 24%;
    box-sizing: border-box;
    padding: 10px;
    vertical-align: top;
    background-position: center;
    background-size: cover;
    height: 200px;
    overflow: hidden;
    margin-bottom: 3px;
    position: relative;
}

.item-image-gallery img {
    width: 100%;
    opacity: 0;
}

.quote i.fa.fa-quote-left {
    position: absolute;
    right: 60px;
    font-size: 40px;
    color: #b6b6b6;
}

.container.item-container {
    width: 960px;
}

h2.section-title {
    font-size: 25px;
    margin: 0 0 50px;
    text-transform: uppercase;
    font-weight: 300;
}

.about-editor p {
    font-size: 16px;
}

label .item-image-gallery {
    height: 160px;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    width: 100%;
    display: block;
}

label#galleryImageContainer {
    width: 24%;
    display: inline-block;
    margin: 0;
    padding: 10px;
    vertical-align: top;
}

.item-header-image.editor {
    min-height: 250px;
    background-color: #eee;
    text-align: center;
}

.item-header-image.editor i {
    font-size: 45px;
    margin-top: 100px;
}

#caseStudy p {
    font-size: 18px;
}

.add-item-alt {
    float: right;
    font-size: 16px;
    margin-top: -6px;
}

.item-image-gallery .materialboxed:hover:not(.active) {
    opacity: 0;
}

.item-image-gallery .edit-buttons {
    top: 0;
    z-index: 1039;
}

.item-image-gallery:hover .edit-buttons {
    display: block;
}

.materialboxed.active {
    opacity: 1;
}

textarea#contactMessage {
    min-height: 100px;
}

/* Contact */

.contact-card span.user-image {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

.contact-card p {
    font-size: 20px;
    font-weight: 500;
}