/*@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700,800,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');*/
@font-face {
    font-family: "Gotham";
    font-weight: 900;
    src: url(../fonts/gotham/GothamNarrow-Black.ttf) format("truetype");
}

@font-face {
    font-family: "Gotham";
    font-weight: 700;
    src: url(../fonts/gotham/GothamNarrow-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Gotham";
    font-weight: 500;
    src: url(../fonts/gotham/GothamNarrow-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Gotham";
    font-weight: 400;
    src: url(../fonts/gotham/GothamNarrow-Book.ttf) format("truetype");
}

@font-face {
    font-family: "Gotham";
    font-weight: 300;
    src: url(../fonts/gotham/GothamNarrow-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Gotham";
    font-weight: 100;
    src: url(../fonts/gotham/GothamNarrow-XLight.ttf) format("truetype");
}

body {
    background-color: #f5f5f5;
    font-family: 'Gotham', sans-serif;
}

main {
    /* padding-left: 80px; */
}

/* typo */

p, input, textarea, label {
}

h1, h2, h3, h4, h4, h6 {
}

p strong {
    font-weight: 700;
}

/* navigation */

.sidebar {
    box-shadow: none;
    position: fixed;
    width: 80px;
    height: 100%;
    top: 0;
    z-index: 1020;
}

.sidebar .brand-logo {
    color: #555;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    left: 0;
    background-color: #fff;
}

.sidebar .trigger {
    width: 80px;
    height: 80px;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: #fff;
    transition: background .5s ease;
}

.trigger.active {
    background-color: #212121;
}

.sidebar .trigger.hide {
    opacity: 0;
    visibility: hidden
}

.sidebar .trigger .burger {
    width: 22px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -11px
}

.sidebar .trigger .burger span {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background: #111;
    transition: all .3s ease
}

.sidebar .trigger .burger span:nth-child(1) {
    top: 0
}

.sidebar .trigger .burger span:nth-child(2) {
    top: 50%;
    margin-top: -1px
}

.sidebar .trigger .burger span:nth-child(3) {
    width: 70%;
    bottom: 0
}

.sidebar .trigger:hover .burger span:nth-child(3) {
    width: 100%
}

.sidebar .trigger.active .burger span:nth-child(1) {
    top: 7px;
    transform: rotate(135deg);
    background: #fff;
}

.sidebar .trigger.active .burger span:nth-child(2) {
    width: 0;
    transform: translateX(-100%);
    opacity: 0;
    background: #fff;
}

.sidebar .trigger.active .burger span:nth-child(3) {
    width: 100%;
    bottom: 7px;
    transform: rotate(-135deg);
    background: #fff;
}

a.brand-logo img {
    height: 50px;
    margin-top: 15px;
}

.navbar-fixed {
    margin-left: 80px;
    height: 80px;
    margin-bottom: 50px;
}

.navbar-fixed.absolute nav {
    position: absolute;
    left: 0;
}

nav.welcome {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

nav.welcome .brand-logo {
    color: #fff;
}

nav.welcome ul a {
    color: #fff;
}

nav.welcome ul a:hover {
    color: #fff;
}

nav.welcome ul a.btn {
    border-color: #fff;
    background: none;
}

nav {
    background-color: #ffffff;
    box-shadow: none;
    left: 0;
    width: auto;
    right: 0;
    top: 0;
    height: 80px;
    line-height: 80px;
    z-index: 1008;
    position: fixed !important;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

nav .brand-logo {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

nav ul li.active {
    background-color: rgba(0, 0, 0, 0);
}

nav ul a {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
}

nav ul a.btn {
    padding: 0 15px;
    margin-right: 0;
}

nav ul a.btn i {
    height: auto;
    line-height: initial;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #555;
}

nav ul li a.active {
    font-weight: 700;
    color: #7ebff1;
}

nav ul li.active a span,
nav ul li a:hover span {
    color: #7ebff1;
}

nav img.flag {
    height: 30px;
    margin-top: 17px;
    display: inline-block;
}

nav a.brand-logo img {
    height: 25px;
}

nav .user-image {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    border: none;
    margin-right: 10px;
}

/* navigation end */

/* classes */

.slick-prev:before, .slick-next:before {
    font-family: "FontAwesome", "slick", sans-serif !important;
    font-size: 40px !important;
    color: #212121 !important;
}

body .slick-next:before {
    content: '\f121';
}

body .slick-prev:before {
    content: '\f120';
}

#wcraft-menu img {
    width: 100%;
    margin-left: -2px;
}

.toast {
    background-color: #222;
    color: #fff;
    font-weight: 400;
    word-break: normal;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
}

.note-editor .note-editable[contenteditable=true]:empty:not(:focus):before {
    color: #a9a9a9;
    content: attr(data-placeholder) !important;
}

.blurred {
    filter: blur(20px);
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

.cover {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.5;
    background-color: #000000;
}

.progress {
    background-color: #eee;
}

.progress .indeterminate {
    background-color: #212121;
}

/* classes end */

/* user */

.user-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 5px solid #fff;
    display: inline-block;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.user-image img {
    width: 100%;
}

/* user end */

/* buttons */

.btn, .btn:hover {
    border-radius: 20px 20px;
    text-transform: capitalize;
    font-weight: 500;
    box-shadow: none;
    background-color: #fff;
    color: #212121;
    border: 2px solid;
    height: 40px;
    line-height: 36px;
    min-width: 40px;
}

.btn.btn-secondary, .btn.btn-secondary:hover {
    background-color: #7ebff1;
    color: #fff;
    border-color: #7ebff1;
}

.search-users-btn {
    /* margin-top: 16px; */
}

.btn i,
.btn-large i,
.btn-floating i,
.btn-large i,
.btn-flat i {
    font-size: inherit;
}

.btn:focus, .btn-large:focus, .btn-floating:focus {
    background: inherit;
}

/* buttons */

/* box */

.box-image {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* box end */

footer.page-footer {
    background-color: #f5f5f5;
    padding-top: 0;
}

footer.page-footer.template-select {
    margin-top: 210px;
}

/* landing area */

.landing-area {
    margin-top: 0;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-color: #fff;
    background-position: center;
}

.landing-area::after {
    border-bottom: 250px solid #7ebff1;
    border-left: 100vw solid transparent;
    bottom: 0;
    /* content: ""; */
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
}

.landing-area.with-image:after {
    border-bottom: 250px solid #fff;
}

.landing-area.with-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.landing-content {
    position: relative;
    z-index: 1039;
}

.landing-area .btn {
    /* height: 50px; */
    /* line-height: 46px; */
    /* font-size: 18px; */
}

.landing-area p.welcome {
    margin: 0;
    display: inline-block;
    color: #7ebff1;
    font-weight: 700;
}

.landing-area h1 {
    font-weight: 100;
    color: #fff;
    font-size: 40px;
}

.landing-area h1 span {
    font-weight: 700;
}

.landing-area p {
    margin-bottom: 30px;
    color: #fff;
    font-size: 18px;
}

.landing-area.with-image h1 {
    color: #fff;
    font-weight: 700;
}

.landing-area.with-image h1 span {
    color: #fff;
}

.landing-area.with-image p {
    color: #fff;
}

.parallax-container {
    padding: 100px 0;
    height: 100vh;
}

div#example {
    overflow: hidden;
    height: 700px;
    margin-bottom: 80px;
    position: relative;
}

.card-hide {
    position: absolute;
    padding: 10px 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f5f5f5;
    box-shadow: 0px -1px 6px 0px rgba(50, 50, 50, 0.35);
}

.info-icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #7ebff1;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

/* text */

h3.section-title {
    font-size: 30px;
    font-weight: 700;
    color: #7ebff1;
    display: inline-block;
    margin: 7px 0 30px;
}

/* modals */

.modal-overlay {
    z-index: 999 !important;
}

.modal .modal-footer {
    padding: 0 10px;
}

.modal {
    z-index: 1039 !important;
    box-shadow: none;
}

.modal.modal-sm {
    width: 420px;
}

.modal.modal-sm.editor-modal {
    transform: none !important;
    overflow-y: initial;
}

.modal h4 {
    color: #212121;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
}

.modal h3 {
    font-weight: 700;
    font-size: 22px;
    color: #7ebff1;
}

/* forms */

.note-editor .note-editable {
    min-height: 140px;
    border: 1px solid #eee;
}

.note-editor .note-editable:focus {
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #7ebff1;
    box-shadow: 0 1px 0 0 #7ebff1;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #7ebff1;
}

[type="checkbox"].filled-in:checked + label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #7ebff1;
    background-color: #7ebff1;
    z-index: 0;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #000;
    font-weight: 500;
}

.switch label input[type=checkbox]:checked + .lever:after {
    /* background-color: #7ebff1; */
    /* left: 24px; */
}

.switch label input[type=checkbox]:checked + .lever {
    /* background-color: #89afd0; */
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: #eee;
    border: none;
    padding: 0 10px;
    box-sizing: border-box;
}

.input-field label:not(.label-icon).active {
    -webkit-transform: translateY(-170%);
    transform: translateY(-170%);
}

textarea.materialize-textarea {
    padding: .8rem 10px 1.6rem 10px !important;
}

/* cards */

.card {
    box-shadow: none;
}

.card .card-content .card-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}

/* Other */

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background-color: #ddd;
    border-radius: 3rem;
}

::-webkit-scrollbar-track {
    background-color: #ddd;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
}

.picker--opened .picker__holder {
    width: 100%;
}

.jc-bs3-container.container {
    width: 300px;
}

#sidenav-overlay {
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.85) 0%, rgba(41, 41, 41, 0) 84%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.85) 0%, rgba(41, 41, 41, 0) 84%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.85) 0%, rgba(41, 41, 41, 0) 84%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6ffffff', endColorstr='#00000000', GradientType=1);
}

.side-nav {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    padding-left: 80px;
    width: 380px;
}

.side-nav ul {
    width: 100%;
}

.side-nav ul a {
    color: #212121;
    font-size: 28px;
    font-weight: 300;
}

.side-nav a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.side-nav ul a.btn {
    font-weight: 700;
    line-height: 34px;
    height: 38px;
    font-size: 18px;
}

.side-nav ul a.btn:hover {
    color: #fbfbfb;
    background-color: #7ebff1;
}

div#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

ul.modal-list li a {
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid #ddd;
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
}

ul.modal-list li a:hover {
    background-color: #eee;
}

ul.modal-list li a img {
    margin-right: 10px;
    height: 30px;
}

ul.modal-list.template-selector li {
    display: inline-block;
    width: 32%;
    /* text-align: center; */
}

ul.modal-list.template-selector li .chip {
    margin: 0 auto;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    display: block;
    padding: 0;
}

/*********** Preloader *********/

.preloader-top,
.preloader-middle,
.preloader-bottom {
    position: fixed;
    width: 100%;
    height: 33.493333333%;
    z-index: 1055;
    background-color: #f5f5f5;
    background-image: url(../media/graphics/gplay.png);
    background-attachment: fixed;
}

.preloader-top {
    top: 0;
    right: 0;
}

.preloader-middle {
    bottom: 33.493333333%;
    left: 0;
    overflow: hidden;
}

.preloader-bottom {
    bottom: 0;
    right: 0;
}

.preloader-top .action-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15px;
    left: 0;
    padding: 0;
    animation-name: loader;
    animation-duration: 2s;
    -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1); /* Safari 4.0 - 8.0 */
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.preloader-bottom .action-section {
    position: absolute;
    top: 0;
    width: 100%;
    height: 15px;
    left: 0;
    padding: 0;
    animation-name: loader;
    animation-duration: 2s;
    -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1); /* Safari 4.0 - 8.0 */
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.preloader-top.open,
.preloader-middle.open,
.preloader-bottom.open {
    width: 0;
    transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
    transition-delay: 0.6s;
}

.action-section {
    padding: 50px 0;
    background-color: #7ebff1;
}

.animation-loader {
    opacity: 1;
}

.preloader-middle .animation-loader {
    width: 320px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 80px auto 0;
    transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
}

.preloader-middle.open .animation-loader {
    -ms-transform: translateY(2000px); /* IE 9 */
    -webkit-transform: translateY(2000px); /* Safari */
    transform: translateY(2000px);
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
}

.animation-loader p {
    font-weight: 700;
}

.typed-cursor {
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
    50% {
        opacity: 0.0;
    }
}

@-webkit-keyframes typedjsBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}

.typed-fade-out {
    opacity: 0;
    transition: opacity .25s;
    -webkit-animation: 0;
    animation: 0;
}