<li class="sidebar-header">
	<span class="sidebar-header-title">Users</span>
</li>
<li>
	<a href="#" class="sidebar-nav-menu">
		<i class="fa fa-angle-left sidebar-nav-indicator"></i>
		<i class="gi gi-user sidebar-nav-icon"></i>Users
	</a>
	<ul>
		<li>
			<a href="{{ Router.Create("users") }}">List</a>
		</li>
	</ul>
</li>

<li class="sidebar-header">
	<span class="sidebar-header-title">Resumes</span>
</li>
<li>
	<a href="#" class="sidebar-nav-menu">
		<i class="fa fa-angle-left sidebar-nav-indicator"></i>
		<i class="gi gi-user sidebar-nav-icon"></i>Resumes
	</a>
	<ul>
		<li>
			<a href="{{ Router.Create("resumes") }}">List</a>
		</li>
	</ul>
</li>
<li class="sidebar-header">
	<span class="sidebar-header-title">Jobs</span>
</li>

<li>
	<a href="#" class="sidebar-nav-menu">
		<i class="fa fa-angle-left sidebar-nav-indicator"></i>
		<i class="gi gi-user sidebar-nav-icon"></i>Jobs
	</a>
	<ul>
		<li>
			<a href="{{ Router.Create("jobs") }}">List</a>
		</li>
	</ul>
</li>

<li class="sidebar-header">
	<span class="sidebar-header-title">Portfolio</span>
</li>
<li>
	<a href="#" class="sidebar-nav-menu">
		<i class="fa fa-angle-left sidebar-nav-indicator"></i>
		<i class="gi gi-user sidebar-nav-icon"></i>Portfolio
	</a>
	<ul>
		<li>
			<a href="{{ Router.Create("portfolio") }}">List</a>
		</li>
	</ul>
</li>

<li class="sidebar-header">
	<span class="sidebar-header-title">Blog</span>
</li>
<li>
	<a href="#" class="sidebar-nav-menu">
		<i class="fa fa-angle-left sidebar-nav-indicator"></i>
		<i class="gi gi-user sidebar-nav-icon"></i>Blog
	</a>
	<ul>
		<li>
			<a href="{{ Router.Create("articles") }}">List</a>
		</li>
	</ul>
</li>