/*body {
    background-image: url(../../../media/graphics/gplay.png);
    background-attachment: fixed;
}*/

.resume {
    background-color: #fff;
    padding: 80px;
    margin: 140px 0 100px;
}

.header-info {
    display: inline-block;
    vertical-align: middle;
    padding-left: 40px;
}

.resume-header .item-info a, .resume-header .item-info > div {
    width: 49%;
}

.resume-section.resume-header > .row {
    width: 100%;
}

.resume-image {
}

.resume-section {
    padding: 0;
    border-bottom: 2px dashed #f3f2f2;
}

.resume-section > .row {
    display: inline-block;
    width: 70%;
    margin-bottom: 0;
    padding: 30px 0;
}

.about-section {
    padding: 50px;
    font-size: 16px;
}

.about-field {
    padding: 50px;
}

.resume-section h2,
h2.section-title {
    font-size: 18px;
    color: #212121;
    font-weight: 700;
    margin-bottom: 20px;
}

ul.section-controls {
    display: none;
    opacity: 0.5;
}

.resume:hover ul.section-controls {
    display: block;
}

.resume-section:hover ul.section-controls {
    opacity: 1;
}

ul.section-controls li a {
    display: block;
    padding: 5px;
    color: rgba(33, 33, 33, 0.55);
    font-weight: 500;
}

ul.section-controls li a i {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 23px;
    color: #212121;
    border-radius: 100%;
    vertical-align: middle;
    border: 1px solid rgba(33, 33, 33, 0.55);
    margin-top: -3px;
}

ul.section-controls li a.delete-section i {
    color: #f80000;
    border-color: #f80000;
}

.section-info {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.resume-section h2:before,
h2.section-title:before {
    content: ' ';
    height: 5px;
    width: 40px;
    background-color: #7ebff1;
    display: block;
    margin-bottom: 10px;
}

.resume-section h2 span.badge {
    padding: 0 20px;
    opacity: 0;
    cursor: pointer;
    height: 40px;
    line-height: 36px;
    text-transform: initial;
}

span.badge.delete-section {
    color: #d92d41;
}

.resume-section:hover h2 span.badge {
    opacity: 1;
}

.resume-item.timeline {
    padding: 10px 15px 10px 170px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
    border-left: 2px dashed #e8e8e8;
}

.resume-item {
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
}

.resume-item.timeline:before {
    content: ' ';
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    background-color: #7ebff1;
    border: 2px solid #7ebff1;
    position: absolute;
    left: -7px;
    top: 10px;
}

.edit-buttons {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: -50px;
    border-radius: 3rem;
    display: none;
    background-color: #212121;
    padding: 10px 20px;
    box-shadow: 0px 0px 31px 0px rgba(50, 50, 50, 0.2);
}

.open-edit, .delete-item {
    height: 30px;
    line-height: 30px;
    font-weight: 500;
    padding: 0 10px;
    display: inline-block;
    color: #000;
    border-radius: 3rem;
}

.open-edit {
    color: #fff;
    /* background-color: #673ab7; */
}

.delete-item {
    color: #ffffff;
    background-color: #d92d41;
}

.resume-item:hover .edit-buttons,
.resume-item.editor-activated .edit-buttons {
    display: block;
}

.edit-item:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.edit-btn {
    display: none;
}

.edit-btn.show,
.resume-item.editor-activated .edit-btn {
    display: inline-block;
}

.editor-item-box {
    display: none;
}

.resume-item.hide {
    display: none;
}

.resume-item.editor-activated {
    background-color: #fff;
    z-index: 1000;
}

.editor-overlay.activated {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.resume-item.editor-box {
}

.resume-item.col-2 {
    width: 49%;
    padding: 10px 25px;
}

.resume-item.col-3 {
    width: 32%;
}

.resume-item.col-4 {
    width: 24%;
}

.resume-section > .row > .resume-item.editor-box.col-2:nth-of-type(odd) {
}

.resume-section > .row > .col-2:not(.editor-item-box):nth-of-type(odd) {
    /* padding-right: 50px; */
    /* border-right: 1px solid #ddd; */
}

.resume-section > .row > .col-2:not(.editor-item-box):nth-of-type(even) {
    /* padding-left: 50px; */
}

.resume-item h3 {
    font-size: 19px;
    font-weight: 500;
    color: #212121;
    margin: 0 0 10px;
}

.resume-item.skill-item h3 {
    font-size: 16px;
    font-weight: 700;
    text-transform: lowercase;
}

.resume-item p {
    font-size: 15px;
    color: #787878;
}

.resume-item p.item-subtitle {
    color: #757575;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
}

.resume-item p.points {
    color: #42a5f5;
    font-weight: 700;
    font-size: 30px;
}

.resume-section > .row > .col.l6 {
    height: 250px;
}

.resume-section > .row > .col.rel-height {
    height: auto;
}

.resume-section > .row > .col.l6:nth-of-type(odd) {
}

.resume-section > .row > .col.l6:nth-of-type(even) {
    padding-left: 50px;
}

.item-info.highlight {
    position: absolute;
    left: 13px;
    top: 7px;
}

.item-info a, .item-info > div {
    color: #727272;
    font-weight: 500;
    display: inline-block;
    padding-right: 10px;
    margin-bottom: 5px;
    font-size: 12px;
}

.item-info a i,
.item-info div i {
    color: #7ebff1;
    display: inline-block;
    width: 20px;
    font-size: 18px;
    vertical-align: bottom;
}

.item-info.highlight a, .item-info.highlight > div {
    width: auto;
    color: rgba(33, 33, 33, 0.55);
    font-weight: 700;
    /* border-radius: 18px; */
}

.item-info.highlight a i, .item-info.highlight div i {
    color: #ffffff;
    display: none;
}

.item-info div span {
    display: inline-block;
    min-width: 10px;
}

.resume-image {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}

.resume .user-image {
    display: inline-block;
}

.resume h1 {
    font-weight: 100;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #212121;
}

.resume h1:focus {
    text-transform: capitalize;
}

p.tagline {
    font-size: 22px;
    color: #7ebff1;
    margin: 0 0 20px;
}

img.flag {
    height: 20px;
    vertical-align: middle;
}

.resume .chip {
    /* background-color: #42a5f5; */
    /* color: #ffffff; */
    /* height: 40px; */
    /* padding: 0 20px; */
    /* line-height: 40px; */
    /* font-size: 15px; */
    border-radius: 3rem;
}

.chip span.badge {
    margin-top: 9px;
    background-color: #673ab7;
    color: #fff;
    border-radius: 3rem;
}

#skillsRow .progress {
    height: 10px;
    background-color: #ddd;
    overflow: initial;
}

.progress .determinate {
    background-color: #7ebff1;
}

.language-level-indicator {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 100%;
    background-color: #444;
}

.language-level-indicator.active,
.language-level-indicator.selected {
    background-color: #7ebff1;
}

.language-level-indicator.add-level:hover {
    background-color: #4db6ac;
}

input.dial {
    color: #212121 !important;
}

.skill-item {
    margin-bottom: 25px;
}

.skill-item .chip {
    width: auto;
}

i.item-icon {
    color: #7ebff1;
    font-size: 40px;
    margin-top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 15px;
}

.editor-activated:hover i.item-icon {
    background-color: #ddd;
    color: #000;
}

.icon-select-list i {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.icon-select-list i:hover {
    background-color: #eee;
}

ul.countries li a img {
    margin-right: 10px;
    height: 30px;
}

.modal-list a i {
    display: inline-block;
    width: 40px;
    text-align: center;
}

#countryCode {
    cursor: pointer;
}

.level-tooltip {
    float: right;
    background-color: #fff;
    border-radius: 100%;
    border: 3px solid #7ebff1;
    margin-top: -15px;
    margin-right: -5px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 34px;
    font-weight: 700;
    font-size: 12px;
}

#resumeCanvas {
    position: fixed;
    top: -99999px;
}

/* portfolio */

.item-header-image {
    margin-bottom: 70px;
}

.resume.case-study {
    padding: 70px 0;
}

.resume.case-study p,
.resume.case-study h1,
.resume.case-study h2,
.resume.case-study h3,
.resume.case-study h4,
.resume.case-study h5,
.resume.case-study h6,
.resume.case-study pre,
.resume.case-study blockquote,
.item-tags {
    padding: 0 20%;
}

.resume.case-study h1 {
    text-transform: none;
    font-weight: 700;
    font-size: 55px;
}

.resume.case-study p.tagline {
    color: #878787;
}

.resume.case-study blockquote {
    background-color: #212121;
    border: none;
    padding: 40px 150px;
    color: #fff;
}

.secondary-containers {
    /* background-color: #fff; */
    padding: 50px 50px 50px;
    margin-bottom: 80px;
}

.resume-container .card {
    box-shadow: none;
    height: 500px;
    position: relative;
    background: none;
}

.resume-container .card:hover .edit-buttons {
    display: block;
}

.resume-container .card.quote {
    box-shadow: none;
    height: auto;
    display: block;
    vertical-align: top;
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px dashed #ddd;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.resume-container .card.quote:hover .edit-buttons {
    display: block;
}

.resume-container .card.quote .card-content {
    position: relative;
}

.resume-container .card .card-content {
    padding: 50px;
    background-color: #fff;
    width: 100%;
    height: 50%;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.card.portfolio-card {
    opacity: 0.55;
}

.order-no {
    font-size: 14px;
    font-weight: 700;
    color: #b4b4b4;
}

.card.portfolio-card .edit-buttons {
    top: 0;
    border-radius: 0;
    background: none;
}

.slick-center .card.portfolio-card {
    opacity: 1;
}

.slick-center .card.portfolio-card .card-content {
    border-top: 5px solid #7ebff1;
}

.card.portfolio-card .card-content {
    border-top: 5px solid #ddd;
}

.resume-container .card .card-content.not-visible {
    opacity: 0;
}

.resume-container .card:hover .card-content.not-visible {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.35);
}

.resume-container .card .card-content .card-title {
    font-weight: 700;
    color: #444;
    font-size: 40px;
    margin-bottom: 30px;
}

.resume-container .card .card-content .card-title {
    font-size: 18px;
}

.resume-container .card .card-content.not-visible .card-title {
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition-delay: 0.2s;
    color: #fff;
}

.resume-container .card:hover .card-content.not-visible .card-title {
    transform: translateY(0);
    opacity: 1;
}

.resume-container .card .card-content.not-visible p {
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition-delay: 0.2s;
    color: #fff;
}

.resume-container .card:hover .card-content.not-visible p {
    transform: translateY(0);
    opacity: 1;
}

.resume-container .card .card-content.not-visible .btn {
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition-delay: 0.2s;
    background: none;
    color: #fff;
    border-color: #fff;
}

.resume-container .card:hover .card-content.not-visible .btn {
    transform: translateY(0);
    opacity: 1;
}

.content-row {
    min-height: 250px;
}

span.badge.btn.add-item-alt {
    height: 40px;
    line-height: 36px;
    padding: 0 30px;
}

.resume-container .card.quote .card-content .card-title span.author-position {
    font-weight: 500;
    color: #999;
    font-size: 16px;
}

.resume-container .card.quote .card-content .card-title span {
    min-width: 10px;
    display: inline-block;
}

.quote .item-info {
    margin-bottom: 20px;
}

.resume-container .card .user-image {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

.resume-container .card.quote .card-content p {
    font-size: 18px;
    font-weight: 400;
    color: #666;
}

#quotesRow {
    margin-bottom: 80px;
}

.item-header-image img {
    width: 100%;
}

.item-image-gallery {
    display: inline-block;
    width: 24%;
    box-sizing: border-box;
    padding: 10px;
    vertical-align: top;
    background-position: center;
    background-size: cover;
    height: 200px;
    overflow: hidden;
    margin-bottom: 3px;
}

.item-image-gallery img {
    width: 100%;
    opacity: 0;
}

.quote i.fa.fa-quote-left {
    position: absolute;
    right: 60px;
    font-size: 40px;
    color: #212121;
}

.container.item-container {
    margin-top: -80px;
}

.about-editor p {
    font-size: 16px;
}

label .item-image-gallery {
    height: 160px;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    width: 100%;
    display: block;
}

label#galleryImageContainer {
    width: 24%;
    display: inline-block;
    margin: 0;
    padding: 10px;
    vertical-align: top;
}

.item-header-image.editor {
    min-height: 250px;
    background-color: #eee;
    text-align: center;
}

.item-header-image.editor i {
    font-size: 45px;
    margin-top: 100px;
}

#caseStudy p {
    font-size: 18px;
}

.add-item-alt {
    float: right;
    font-size: 16px;
    margin-top: -6px;
}

.item-image-gallery .materialboxed:hover:not(.active) {
    opacity: 0;
}

.materialboxed.active {
    opacity: 1;
}

textarea#contactMessage {
    min-height: 100px;
}

/* Contact */

.contact-card span.user-image {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

.contact-card p {
    font-size: 20px;
    font-weight: 500;
}

/* header */

header.welcome-cover {
    height: 100vh;
    position: relative;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

header.welcome-cover.scrolled {
    height: 80px;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    position: fixed;
}

.welcome-cover-content,
.welcome-cover .note-editor {
    position: absolute;
    top: 200px;
    left: 140px;
    color: #fff;
    font-weight: 300;
    width: 50%;
    font-size: 30px;
}

.intro-buttons {
    position: absolute;
    bottom: 25px;
    right: 80px;
}

.welcome-cover .btn {
    background: none;
    color: #fff;
}

.welcome-cover .note-editor .note-editable {
    border: none;
}

.welcome-cover .note-editor .note-editable:before {
    color: #fff !important;
}

.welcome-cover .note-editor .note-toolbar {
    background: none;
}

.welcome-cover .cover {
    /*background-color: #7ebff1;*/
}