{% extends "Master/Master.twig" %}

{% block title %}Resumes{% endblock %}


{% block head %}

{% endblock %}


{% block content %}
	<div class="content-header">
		<div class="header-section">
			<h1>
				<i class="gi gi-resume"></i>List of Resumes<br/>
				<small>Write description here how to use this page</small>
			</h1>
		</div>
	</div>

	<ul class="breadcrumb breadcrumb-top">
		<li><a href="{{ Router.Create("resumes") }}">Resumes</a></li>
		<li>List</li>
	</ul>

	<div class="block">
		<div class="block-title">
			<div class="block-options pull-right">
				<a href="{{ Router.Create("add-resume") }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i></a>
			</div>
			<h2><strong>Resumes</strong></h2>
		</div>
		<div class="table-responsive">
			{% if model.Resumes | length %}
				<table id="general-table" class="table table-striped table-vcenter">
					<thead>
						<tr>
							<th>Resume ID</th>

						</tr>
					</thead>
					<tbody>

						{% for resume in model.Resumes %}
							<tr>
								<td>{{ resume.ResumeId }}</td>


								<td class="text-center">
									<div class="btn-group btn-group-xs">
										<a href="{{ Router.Create("edit-resume", {resumeId: resume.ResumeId}) }}"
										   class="btn btn-primary"><i class="fa fa-pencil"></i></a>
									</div>
									<div class="btn-group btn-group-xs">
										<a href="{{ Router.Create("delete-resume", {resumeId: resume.ResumeId}) }}"
										   class="confirm btn btn-danger"><i class="fa fa-times"></i></a>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	</div>

	<a class="btn btn-lg btn-success" href="{{ Router.Create("add-resume") }}">Add Resume</a>
{% endblock %}

{% block footer_scripts %}
	<script type="text/javascript">
		$(".confirm").confirm({
			confirmButtonClass: "btn-danger"
		});
	</script>
{% endblock %}