{% extends "Master/Master.twig" %}

{% block title %}Jobs{% endblock %}


{% block head %}

{% endblock %}


{% block content %}
	<div class="content-header">
		<div class="header-section">
			<h1>
				<i class="gi gi-job"></i>List of Jobs<br/>
				<small>Write description here how to use this page</small>
			</h1>
		</div>
	</div>

	<ul class="breadcrumb breadcrumb-top">
		<li><a href="{{ Router.Create("jobs") }}">Jobs</a></li>
		<li>List</li>
	</ul>

	<div class="block">
		<div class="block-title">
			<div class="block-options pull-right">
				<a href="{{ Router.Create("add-job") }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i></a>
			</div>
			<h2><strong>Jobs</strong></h2>
		</div>
		<div class="table-responsive">
			{% if model.Jobs | length %}
				<table id="general-table" class="table table-striped table-vcenter">
					<thead>
						<tr>
							<th>Type</th>
							<th>Experience Level</th>
							<th>Role</th>
							<th>Technologies</th>
							<th>Description</th>
							<th style="width: 150px;" class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for job in model.Jobs %}
							<tr>
								<td>{{ job.Type }}</td>
								<td>{{ job.ExperienceLevel }}</td>
								<td>{{ job.Role }}</td>
								<td>{{ job.Technologies }}</td>
								<td>{{ job.Descriptions }}</td>

								<td class="text-center">
									<div class="btn-group btn-group-xs">
										<a href="{{ Router.Create("edit-job", {jobId: job.JobId}) }}"
										   class="btn btn-primary"><i class="fa fa-pencil"></i></a>
									</div>
									<div class="btn-group btn-group-xs">
										<a href="{{ Router.Create("delete-job", {jobId: job.JobId}) }}"
										   class="confirm btn btn-danger"><i class="fa fa-times"></i></a>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	</div>

	<a class="btn btn-lg btn-success" href="{{ Router.Create("add-job") }}">Add Job</a>
{% endblock %}

{% block footer_scripts %}
	<script type="text/javascript">
		$(".confirm").confirm({
			confirmButtonClass: "btn-danger"
		});
	</script>
{% endblock %}